body {
  margin: 0px;
  background-color: rgb(230, 230, 230);
  background-image: none;
  position: relative;
  left: 0px;
  width: 100%; /*1920px*/
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  height: 100%;
  position: relative;
}
.form_sketch {
  border-color: transparent;
  background-color: transparent;
}
#base {
  position: absolute;
  z-index: 0;
  display: flex;
  height: 100%;
  width: 100%;
}
.person_left {
  width: 20%;
  height: 100%;
}
.person_right {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 图片css样式 */
#u2_img {
  border-radius: 20px;
  border-width: 0px;
  width: 246px;
  height: 326px;
}
#u2 {
  border-width: 0px;
  width: 100%;
  height: 326px;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
#u3_img {
  border-width: 0px;
  width: 90%;
  height: 2px;
}
#u3 {
  border-width: 0px;
  width: 100%;
  height: 14px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
}
#u3 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u3_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u4 {
  border-width: 0px;
  width: 100%;
}
#u5_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 110px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u5 {
  border-width: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u5 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 38px;
}
#u5_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u6_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 153px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u6 {
  border-width: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u6 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 38px;
}
#u6_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u7_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 121px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u7 {
  border-width: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u7 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 38px;
}
#u7_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u8_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 203px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u8 {
  border-width: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  font-size: 16px;
  text-decoration: underline;
  color: #02a7f0;
}
#u8 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 38px;
}
#u8_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u9 {
  border-width: 0px;
  width: 100%;
}
#u10 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}
#u11_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 127px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
}
#u11 {
  border-width: 0px;
  position: absolute;
  left: 63px;
  top: 420px;
  width: 127px;
  height: 18px;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
}
#u11 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u11_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u12_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
}
#u12 {
  border-width: 0px;
  position: absolute;
  left: 23px;
  top: 425px;
  width: 30px;
  height: 30px;
  display: flex;
}
#u12 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u12_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u13_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 74px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #aaaaaa;
}
#u13 {
  border-width: 0px;
  position: absolute;
  left: 63px;
  top: 443px;
  width: 74px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #aaaaaa;
}
#u13 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u13_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u14 {
  border-width: 0px;
  width: 100%;
  height: 70px;
  display: flex;
}
#u15_u16 {
  width: 80%;
  height: 100%;
}
#u15_div {
  border-width: 0px;
  width: 229px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
}
#u15 {
  border-width: 0px;
  width: 100%;
  height: 50%;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
  align-items: center;
}
#u15 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#u15_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u16_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 41px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #aaaaaa;
}
#u16 {
  border-width: 0px;
  width: 100%;
  height: 50%;
  display: flex;
  font-size: 16px;
  color: #aaaaaa;
  align-items: center;
}
#u16 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#u16_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u17_img {
  border-width: 0px;
  width: 29px;
  height: 29px;
}
#u17 {
  border-width: 0px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#u17 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u17_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u18 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
}
#u19_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 237px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
}
#u19 {
  border-width: 0px;
  position: absolute;
  left: 63px;
  top: 549px;
  width: 237px;
  height: 18px;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
}
#u19 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u19_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u20_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 74px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #aaaaaa;
}
#u20 {
  border-width: 0px;
  position: absolute;
  left: 63px;
  top: 572px;
  width: 74px;
  height: 18px;
  display: flex;
  font-size: 16px;
  color: #aaaaaa;
}
#u20 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u20_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u21_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 29px;
  height: 29px;
}
#u21 {
  border-width: 0px;
  position: absolute;
  left: 23px;
  top: 555px;
  width: 29px;
  height: 29px;
  display: flex;
}
#u21 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u21_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u22 {
  border-width: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  margin-top: 12px;
}
#u23_u24 {
  width: 80%;
  height: 100%;
}
#u23_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 220px;
  height: 36px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
}
#u23 {
  border-width: 0px;
  width: 100%;
  /* height: 50%; */
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #737476;
  align-items: center;
}
#u23 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#u23_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u24_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  color: #aaaaaa;
}
#u24 {
  border-width: 0px;
  width: 100%;
  height: 50%;
  display: flex;
  font-size: 16px;
  color: #aaaaaa;
  align-items: center;
}
#u24 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#u24_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u25_img {
  border-width: 0px;
  width: 29px;
  height: 29px;
}
#u25 {
  border-width: 0px;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#u25 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u25_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u26_div {
  border-width: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 25px;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0980392156862745);
}
#u26 {
  border-width: 0px;
  width: 100%;
  height: 100%;
  display: flex;
}
#u26 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u26_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u27 {
  border-width: 0px;
  width: 98%;
  height: 98%;
  background-color: white;
  border-radius: 25px;
}
#u27_state0 {
  border-width: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  background-image: none;
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#u27_state0_content {
  border-width: 0px;
  width: 100%;
}
#u28 {
  border-width: 0px;
  padding: 20px;
}
#u29_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  line-height: 20px;
}
#u29 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin: 5px;
}
#u29 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u29_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u30_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u30 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u30 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 5px 20px 5px;
}
#u30_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u31 {
  border-width: 0px;
  width: 100%;
}
#u32_div {
  border-width: 0px;
  width: 200%;
  background: inherit;
  background-color: rgba(190, 193, 205, 1);
  border: none;
  border-radius: 25px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 20px;
}
#u32 {
  border-width: 0px;
  width: 100%;
  display: flex;
}
#u33_div {
  border-width: 0px;
  width: 100%;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
}
#u33 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  margin: 10px 5px;
}
#u33 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u33_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u34_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 672px;
  height: 16px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: underline;
  color: #02a7f0;
}
#u34 {
  border-width: 0px;
  position: absolute;
  left: 139px;
  top: 130px;
  width: 672px;
  height: 16px;
  display: flex;
  text-decoration: underline;
  color: #02a7f0;
}
#u34 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u34_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u35_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 858px;
  height: 18px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
#u35 {
  border-width: 0px;
  position: absolute;
  left: 36px;
  top: 175px;
  width: 858px;
  height: 18px;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
#u35 .text {
  position: absolute;
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u35_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u36_div {
  border-width: 0px;
  width: 100%;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}
#u36 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  margin: 2px 5px 10px 5px;
}
#u36 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u36_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u37 {
  border-width: 0px;
  padding: 20px;
}
#u38_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  line-height: 20px;
}
#u38 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin: 5px;
}
#u38 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u38_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u39_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u39 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u39 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 5px 20px 5px;
}
#u39_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u40 {
  border-width: 0px;
  padding: 20px;
}
#u41_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  line-height: 20px;
}
#u41 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin: 5px;
}
#u41 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u41_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u42_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u42 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u42 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 5px 20px 5px;
}
#u42_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u43 {
  border-width: 0px;
  padding: 20px;
}
#u44_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  line-height: 20px;
}
#u44 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-size: 16px;
  line-height: 20px;
  margin: 5px;
}
#u44 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
}
#u44_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
}
#u45_div {
  border-width: 0px;
  background: inherit;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u45 {
  border-width: 0px;
  width: 100%;
  display: flex;
  font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
}
#u45 .text {
  align-self: flex-start;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  margin: 10px 5px 20px 5px;
}
#u45_text {
  border-width: 0px;
  white-space: nowrap;
  text-transform: none;
}
#u46_div {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1601px;
  height: 50px;
  background: inherit;
  background-color: rgba(242, 242, 242, 0);
  border: none;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#u46 {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 1430px;
  width: 1601px;
  height: 50px;
  display: flex;
}
#u46 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u46_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u47_img {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1070px;
  height: 2px;
}
#u47 {
  border-width: 0px;
  position: absolute;
  left: 22px;
  top: 558px;
  width: 1070px;
  height: 1px;
  display: flex;
}
#u47 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u47_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u48_img {
  border-width: 0px;
  width: 95%;
  height: 2px;
}
#u48 {
  border-width: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#u48 .text {
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u48_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
#u49_img {
  border-width: 0px;
  width: 90%;
  height: 2px;
}
#u49 {
  border-width: 0px;
  position: absolute;
  left: 22px;
  top: 1145px;
  width: 1070px;
  height: 1px;
  display: flex;
}
#u49 .text {
  position: absolute;
  align-self: center;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
  width: 100%;
}
#u49_text {
  border-width: 0px;
  word-wrap: break-word;
  text-transform: none;
  visibility: hidden;
}
